<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>



<div class="jumbotron" >
  <h1>Bienvenido</h1>
  <p>Es un placer tenerte en nuestro sitio</p>
  <p><a class="btn btn-primary btn-lg" href=<%= pages_about_us_path%> role="button">Aprendiendo Mas</a></p></div>
